@import '../Vars.scss';

.header {
  grid-area: header;
  height: 50px;
  background: $header-color;
  color: white;
  justify-content: space-between;
  }
  
  .header__hero {
    display: flex;
  }

  .header__logo{
    display: flex;
    margin-left: 25px;
  }

  .header__logo h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 15px;
    
  }

  .header__logo img {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header__user {
    display: flex;
    margin: 0px 20px;
  }

  .header__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  // usuario
  .dropdown {
    position: relative;
    display: inline-block;
    margin: 5px 20px;
  }

  .user__img  {
    color: white;
    width: 16px;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
  }

  .user__img:hover .user__img--imgUser {
    background-color: #193646;
    padding: 5px;
    border-radius: 5px;
   }

  .dropdown__user--name {
    position: relative;
    display: inline-block;
  }

  .dropdown span {
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
    height: 100%;
  }

  .dropdown__content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-color:$navigation-color;
  }

  .dropdown__content a {
    color: $color-lyrics;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown__content a:hover {background-color: $dropdown--hover}

  .dropdown:hover .dropdown__content {
    display: block;
  }

  .dropdown:hover .dropdown__user--name {
    background-color: #193646;
  }