@import '../Vars.scss';


.container--title_table {
  background-color: #222d32;
  
}


.title-table{
  background-color: #222d32;
  margin: 0;
  height: 3em;
  align-items: center;
  width: 100%;
}

table tbody {
  display: block;
  max-height: 300px;
  overflow-y: scroll;
}

table thead, table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}