@import '../Vars.scss';

.container-h3 {
  height: 5px;
  font-weight: normal;
  letter-spacing: -1px;
  color: #f7fbff;

}



.title-table{
  background-color: #222d32;
  margin: 0;
  height: 3em;
  align-items: center;
}