@import url(https://fonts.googleapis.com/css?family=Muli&display=swap);

$theme-fonts: 'Muli', sans-serif;
$header-color: linear-gradient(90deg, #1c3643, #273b47 25%, #1e5472);
$navigation-color: #222d32;
$dropdown--hover: rgba(0, 0, 0, 0.9);
$color-lyrics: #8aa4af;
$content: linear-gradient(to bottom, #1c3643, #1e343f, #1f323a, #212f36, #222d32);
$button-save: linear-gradient(to right bottom, #04c693, #00b491, #00a28c, #0f9084, #237e7a);