@import '../Vars.scss';
// @import './Media.scss';

body {
    margin: 0;
    font-family: $theme-fonts;
    overflow-y: hidden;
  }

  .app {
    display: grid;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    grid-template: [header-left] "header header" 50px [header-right]
                 [main-left]   "navigation  content" 1fr  [main-right]
                 [footer-left] "navigation  footer" 50px [footer-right]
                 / 15% 1fr;
}