@import '../Vars.scss';

.login {
  background-image: $content;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 0px 30px;
  min-height: calc(100vh); /* El ancho será igual al tamaño de todo el height menos 200px (100px del header + 100px del footer) */
}

.login__container {
  background-color: rgba(255,255,255,0.1);
  border: 2px solid white;
  border-radius: 40px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  color: white;
  display: grid;
  position: relative;
  height: 50%;
  width: 50%;
  grid-template-areas: 
    'title title'
    'email social-media'
    'email register';
}

.login_container--title  {
  grid-area: title;
  text-align: center;
}
 
.login__container--form {
  grid-area: email;
  text-align: center;
  margin: 0 5%; 
}

.login__container--form > input {
  display: block;
  width: 80%;
}

.login__container--form label {
  font-size: 14px;
}

.login__container--remember-me {
  color: white;
  display: flex;
  justify-content: space-between;
  margin: 20px 10px 0 10px;
  padding: 0 5%;
}

.login__container--remember-me a {
  color: white;
  font-size: 14px;
  text-decoration: none;
}

.login__container--remember-me a:hover {
  text-decoration: underline;
}

.login__container--social-media {
  grid-area: social-media;
}


.login__container--logo {
  font-size: 50px;
}

.login__container--google {
  margin-bottom: 50px;
}

.login__container--google-parrafo{
  margin-left: 20px;
  text-align:  center;
}

.login__container--facebook-parrafo{
  margin-left: 20px;
  text-align:  center;
}

.login__container--facebook {
  margin-bottom: 60px;
}

.login__container--social-media > div > img {
  margin-right: 10px;
  width: 30px;
}

.login__container--register {
  grid-area: register;
  display: flex;
  justify-content: space-between;
  margin: 50px 20px 0 10px;
}

.login__container--register a {
  color: white;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
}

.login__container--register a:hover {
  text-decoration: underline;
}

.login__container--register p {
  font-size: 14px;
  margin: 0;
}

.login__container--register a:hover {
  text-decoration: underline;
}

.footer {
  align-items: center;
  background-color: #8f57fd;
  display: flex;
  height: 100px;
  width: 100%;
}

.input {
  background-color: transparent;
  border-bottom: 2px solid white;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  color: white;
  font-family: 'Muli', sans-serif;
  font-size: 16px;
  height: 50px;
  margin-bottom: 20px;
  outline: none;
  padding: 0px 20px;
}

::placeholder {
  color: white;
}

.button {
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Muli', sans-serif;
  height: 50px;
  letter-spacing: 1px;
  margin: 10px 0px;
}

// @media only screen and (max-width: 600px) {
//   .login__container {
//     background-color: transparent;
//     border: none;
//     box-shadow: none;
//     padding: 0px;
//     width: 100%;
//   }